In [1]:
import numpy as np
import pandas as pd
from matplotlib.pyplot import subplots
import statsmodels.api as sm
from statsmodels.stats.outliers_influence \
import variance_inflation_factor as VIF
from statsmodels.stats.anova import anova_lm
from ISLP import load_data
from ISLP.models import (ModelSpec as MS, summarize , poly)

In [2]:
Auto = load_data('Auto')
Auto.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin'],
      dtype='object')

In [9]:
# Create intercept by adding a column of ones
# At the same time use horspower as the predictor
X = pd.DataFrame({'intercept': np.ones(Auto.shape[0]), 'horsepower': Auto['horsepower']})

# Create the y
y = Auto['mpg']

# use the sm.OLS(y, X) to create the model
model = sm.OLS(y, X)

# Use the fit method to fit the model
results = model.fit()

# Then summarize the model
summarize(results)

               coef  std err       t  P>|t|  [0.025000000000000022  0.975]
intercept   39.9359    0.717  55.660    0.0                 38.525  41.347
horsepower  -0.1578    0.006 -24.489    0.0                 -0.171  -0.145

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70,1
buick skylark 320,15.0,8,350.0,165,3693,11.5,70,1
plymouth satellite,18.0,8,318.0,150,3436,11.0,70,1
amc rebel sst,16.0,8,304.0,150,3433,12.0,70,1
ford torino,17.0,8,302.0,140,3449,10.5,70,1
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86,2790,15.6,82,1
vw pickup,44.0,4,97.0,52,2130,24.6,82,2
dodge rampage,32.0,4,135.0,84,2295,11.6,82,1
ford ranger,28.0,4,120.0,79,2625,18.6,82,1
chevy s-10,31.0,4,119.0,82,2720,19.4,82,1

In [ ]:
design = MS(['horsepower'])
temp = design.fit_transform(Auto)

newDataFrame = pd.DataFrame({'horsepower': [70, 120, 160, 200]})
newX = design.transform(newDataFrame)
newY = results.get_prediction(newX)
print(newY.predicted_mean, '\n')
newY.conf_int(obs=True, alpha=0.05)

<statsmodels.regression._prediction.PredictionResults object at 0x707c9dd1ac10>


[28.88672969 20.99449302 14.68070368  8.36691435]

array([[19.21952316, 38.55393621],
       [11.33515472, 30.65383131],
       [ 4.99776635, 24.36364102],
       [-1.36599947, 18.09982817]])